---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Milky-Way";
---
<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="259" alt="RaccoonSpaceGif" src="/space.webp"/>
    </div>
    <h1>Ari Krishna</h1>
    <span class="badge">Mathematics Undergraduate at Harvard</span>
    <h2>About</h2>
    <p>
       I'm Ari (she/they), a rising sophomore at Harvard interested in algebraic geometry, algebraic number theory, and dynamics.
    </p>
    <p>
        My recent projects include the following:
    </p>
    <h2>Papers</h2>
    <p> 
    1. <a href="https://arxiv.org/abs/2407.20008">A visual approach to symmetric chain decompositions of finite Young lattices. </a> With Robert W. Donley, Ammara Gondal, and Terrance Coggins.  
    2. Path enumeration for antimagic squares. With Robert W. Donley and Ammara Gondal.
    </p>    
    <div class="center">
        <a href="/works/">
            <button class="btn">My portfolio</button>
        </a>
    </div>
    <p>
        Ut at interdum dui. Donec ut ante ex. Maecenas id ex eget nibh consequat accumsan.
        Proin semper semper dui nec feugiat. Donec cursus neque id aliquet finibus. Morbi
        facilisis turpis nibh, nec dictum orci dictum nec. In hac habitasse platea dictumst.
        Maecenas mollis turpis vitae turpis bibendum, vitae tristique arcu eleifend.
    </p>
</Layout>

